<div class="popup-quick-view position-relative px-15 pt-50 pb-25 pt-lg-30 overflow-hidden" data-popup-content>
    <i class="popup-quick-view__close position-absolute cursor-pointer" data-js-popup-close>{% include 'icon-theme-164' %}</i>
    <div class="popup-quick-view__content mx-auto" data-js-quick-view></div>
</div>

<script>
    Loader.require({type: 'style', name: 'plugin_fotorama'});
    Loader.require({type: 'style', name: 'plugin_slick'});
    Loader.require({type: 'script', name: 'plugin_fotorama'});
</script>