{%- if settings.layout_enable_presentation -%}
    <div class="fixed-sidebar__section my-15">
        <div class="presentation position-relative pointer-events-all js-presentation">
            <div class="presentation__btn d-flex flex-center position-absolute top-0 right-100 cursor-pointer" data-js-presentation-close>
                <i>{% include 'icon-theme-301' %}</i>
                <i>{% include 'icon-theme-164' %}</i>
            </div>
            <div class="presentation__content p-20">
                <div class="presentation__section pb-20 border-bottom">
                    <label class="input-boolean d-flex flex-wrap align-items-center m-0 cursor-pointer">
                        <input type="checkbox" class="d-none" {% if settings.layout_container == 'boxed' %} checked="checked"{% endif %} data-js-action="container">
                        <span class="position-relative d-flex order-1 ml-auto border">
                            <span class="position-absolute d-block border"></span>
                        </span>
                        <p class="m-0 cursor-pointer">Boxed</p>
                    </label>
                    <label class="input-boolean d-flex flex-wrap align-items-center m-0 mt-10 cursor-pointer">
                        <input id="presentation-rtl" type="checkbox" class="d-none" {% if settings.layout_enable_rtl %} checked="checked"{% endif %} data-js-action="rtl">
                        <span class="position-relative d-flex order-1 ml-auto border">
                            <span class="position-absolute d-block border"></span>
                        </span>
                        <p class="m-0 cursor-pointer">RTL</p>
                    </label>
                    <label class="input-boolean d-flex flex-wrap align-items-center m-0 mt-10 cursor-pointer">
                        <input id="presentation-animation" type="checkbox" class="d-none" checked="checked" data-js-action="animation" data-invert="true">
                        <span class="position-relative d-flex order-1 ml-auto border">
                            <span class="position-absolute d-block border"></span>
                        </span>
                        <p class="m-0 cursor-pointer">Animation</p>
                    </label>
                </div>
                <div class="presentation__section py-20 border-bottom">
                    <a href="https://mpthemes.net/shella-shopify-theme/documentation/" target="_blank">Documentation</a>
                </div>
                <div class="presentation__section pt-20">
                    <a href="http://bit.ly/2DOThWb" target="_blank">BUY NOW!</a>
                </div>
            </div>
        </div>
        <script>
            Loader.require({type: "script", name: "presentation"});
        </script>
    </div>
{%- endif -%}