{%- if settings.product_format_pjpg -%}
    {%- assign image_format = 'pjpg' -%}
{%- else -%}
    {%- assign image_format = null -%}
{%- endif -%}
{%- if settings.product_collection_image_size != 'auto' -%}
    {%- assign stretch_size = settings.product_collection_image_size -%}
    {%- assign height_procent = settings.product_collection_image_height_procent -%}
{%- endif -%}
<a href="{{ url }}" class="d-block cursor-default" data-js-product-image>
    {%- capture image_id -%} data-image-id="{{ image.id }}"{%- endcapture -%}
    {% include 'rimage' with image: image size: image_size format: image_format alt: title attr: image_id %}
</a>