{% liquid
  assign num_reviews = product.metafields.loox.num_reviews
  assign goal = 1000.0

  if num_reviews >= goal
    assign num_reviews = num_reviews | divided_by: goal | append: 'K'
  endif
%}

<div
  class="loox-rating"
  data-id="{{ product.id }}"
  data-rating="{{ product.metafields.loox.avg_rating }}"
  data-raters="{{ product.metafields.loox.num_reviews }}"
  data-pattern="&nbsp;"
>
  <div>
    <span class="loox-rating__counter">{{ num_reviews }}</span>
  </div>
</div>
