<section style="background-color:{{ section.settings.background_color }}">
  {% if section.settings.main_image != blank  %}
    {{ section.settings.main_image | image_url: width: section.settings.main_image.width | image_tag }}
  {% endif %}
  <div style="background-color:{{ section.settings.background_color_block }}">
    
  </div>
</section>
{% schema %}
{
  "name": "Banner cta",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "image_picker",
      "id": "main_image",
      "label": "Picture"
    },
    {
      "type": "color",
      "id": "background_color_block",
      "label": "Background color block",
      "default": "#ffffff"
    },
  ],
  "presets": [
    {
      "name": "Banner cta",
    }
  ]
}
{% endschema %}
