<style>
.title-reviews-main{
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 30px;
    letter-spacing: 0;
    text-transform: capitalize;
}
.title-reviews-main em{
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 47px;
    line-height: 30px;
    letter-spacing: -2%;
    text-transform: capitalize;
}
.loox-dropdown.reviews-dist{
    display: block !important;
}
@media (min-width: 768px) {
    .main-customer-reviews{
        max-width: 660px;
        margin: 0 auto;
    }
}
@media (min-width: 1024px) {
    .main-customer-reviews {
        max-width: 900px;
    }
}
@media (min-width: 1440px) {
    .main-customer-reviews{
        max-width: 1280px;
    }
}
@media (max-width: 768px){
    .title-reviews-main{
        text-align: center;
        font-size: 30px;
    }
    .title-reviews-main em{
        font-size: 39px;
    }
}
</style>
<section class="main-customer-reviews">
    {% if product.metafields.loox.reviews != blank %}
{% if section.settings.title != blank %}
    <div class="title-reviews-main">{{ section.settings.title }}</div>
{% endif %}
    
<div id="looxReviews" data-product-id="{{ product.id }}" class="loox-reviews-default"></div>

{% endif %}
</section>
<script src="https://cdn.loox.io/widget.js" async></script>

{% schema %}
{
  "name": "Customer reviews",
  "settings": [
    {
        "type": "richtext",
        "id": "title",
        "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "Customer reviews"
    }
  ]
}
{% endschema %}
