<style>
.main-text-explore{
    font-size: 59px;
    font-family: "Kumbh Sans", sans-serif;
    color: #B2918C;
}
.main-text-explore-left{
    font-weight: 300;
}
.main-text-explore-right{
    font-weight: 500;
    padding-left: 216px;
    position: relative;
    left: 30px;
}
.section-main-explore{
    display: flex;
    justify-content: center;
    background-position: center;
    min-height: 180px;
    align-items: center;
    border-radius: 20px;
    background-color: #F4E1DE;
    border-radius: 20px;
}
</style>
<section class="section-main-explore" style="background-image: url('{{ section.settings.main_image | img_url: 'master' }}');">
    {% if section.settings.left_text != blank %}
        <h2 class="main-text-explore main-text-explore-left">{{ section.settings.left_text }}</h2>
    {% endif %}
    {% if section.settings.right_text != blank %}
        <h2 class="main-text-explore main-text-explore-right">{{ section.settings.right_text }}</h2>
    {% endif %}
</section>

{% schema %}
{
  "name": "Explore our",
  "settings": [
    {
        "type": "image_picker",
        "id": "main_image",
        "label": "image"
    },
    {
        "type": "text",
        "id": "right_text",
        "label": "Text right"
    },
    {
        "type": "text",
        "id": "left_text",
        "label": "Text left"
    }
  ],
  "presets": [
    {
      "name": "Explore our"
    }
  ]
}
{% endschema %}
