<style>
.main-container-product-text{
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    gap: 20px;
}
.main_video-product{ 
    width: 516px;
    height: 520px;
}
.main-title-text-product{
    padding-bottom: 17px;
    max-width: 1280px;
    margin: 0 auto;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 0;
}
.main-title-text-product em{
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 47px;
    letter-spacing: -1px;
}

.main-description-product ul,
.main-description-product p{
    padding-bottom: 20px;
}
.main-description-product strong{
    font-family: Kumbh Sans;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0;
}
.main-description-product{
    line-height: 20px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0%;
}
@media(max-width: 1439px){
    .main-title-text-product,
    .main-container-product-text{
        max-width: 970px;
    }
    .main_video-product{
        width: 395px;
        height: 409px;
    }
}
@media(max-width: 1024px){
    .main-title-text-product,
    .main-container-product-text{
        max-width: 600px;
    }
    .main-container-product-text{
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
}
@media(max-width: 767px){
    .main-title-text-product,
    .main-container-product-text{
        display: none;
    }
}
</style>
<section>
    {% if section.settings.main_title != blank %}
        <div class="main-title-text-product">{{ section.settings.main_title }}</div>
    {% endif %}
    <div class="main-container-product-text">
        {% if section.settings.description != blank %}
            <div class="main-description-product">{{ section.settings.description }}</div>
        {% endif %}
        
        {% if section.settings.video_file != blank %}
            {{ section.settings.video_file | video_tag: autoplay: true, loop: true, muted: true, playsinline: true, class: "main_video-product" }}
        {% elsif section.settings.main_image != blank %}
            {{ section.settings.main_image | image_url: width: section.settings.main_image.width | image_tag }}
        {% endif %}
    </div>
</section>
{% schema %}
{
  "name": "Text product",
  "settings": [
    {
        "type": "richtext",
        "id": "main_title",
        "label": "image"
    },
    {
        "type": "richtext",
        "id": "description",
        "label": "Description"
    },
    {
        "type": "image_picker",
        "id": "main_image",
        "label": "Image"
    },
    {
        "type": "video",
        "id": "video_file",
        "label": "Upload video"
    },
  ],
  "presets": [
    {
      "name": "Text product"
    }
  ]
}
{% endschema %}