.cbb-frequently-bought-container {
  --section-vertical-spacing: 12px;
}

.cbb-frequently-bought-title {
  --text-h2: 34px;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight) !important;
  font-size: var(--text-h2) !important;
  font-style: var(--heading-font-style);
  letter-spacing: var(--heading-letter-spacing);
  text-transform: var(--heading-text-transform);
  overflow-wrap: anywhere;
  font-size: 34px;
}
@media screen and (min-width: 1000px) {
  .cbb-frequently-bought-title {
    --text-h2: 40px;
  }
}

.cbb-frequently-bought-discount-message-container {
  margin-block-end: 0.5rem !important;
}

.cbb-frequently-bought-discount-message {
  font-weight: normal !important;
  padding: 0 !important;
}

.cbb-frequently-bought-recommendations-container {
  border: 1px solid rgb(var(--text-color)/0.2);
  border-radius: 10px;
  padding: 5px;
}
@media screen and (min-width: 700px) {
  .cbb-frequently-bought-recommendations-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1000px) {
  .cbb-frequently-bought-recommendations-container {
    padding-inline: 10px;
  }
}
@media screen and (max-width: 700px) {
  .cbb-frequently-bought-recommendations-container .cbb-frequently-bought-products {
    float: none !important;
    margin-right: 0 !important;
  }
}
@media screen and (max-width: 700px) {
  .cbb-frequently-bought-recommendations-container .cbb-frequently-bought-form {
    display: block !important;
    text-align: center;
  }
}

.cbb-frequently-bought-add-button {
  --initial-gradient: linear-gradient(rgb(var(--button-background)), rgb(var(--button-background)));
  --hover-gradient: linear-gradient(transparent, transparent);
  --initial-background-position: var(--transform-origin-end);
  --hover-background-position: var(--transform-origin-start);
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  text-transform: var(--button-text-transform) !important;
  font: var(--button-font);
  letter-spacing: var(--button-letter-spacing);
  text-shadow: none;
  text-align: center !important;
  cursor: pointer !important;
  color: rgb(var(--button-text-color));
  border: 1px solid rgb(var(--button-outline-color, var(--button-background)));
  border-radius: var(--button-border-radius);
  background-color: rgba(0, 0, 0, 0) !important;
  background-image: var(--initial-gradient), var(--hover-gradient);
  background-size: 101% 101%, 0 101% !important;
  background-position: var(--initial-background-position) !important;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1.125rem;
       column-gap: 1.125rem;
  padding: 0.65rem 1.75rem !important;
  transition: background-size 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), background-position 0.45s step-end, color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86) !important;
  display: inline-flex !important;
  position: relative;
  font-size: var(--text-base);
  font-weight: 600;
  line-height: 1;
  padding-block: 0.25rem;
  min-height: 2.3125rem;
  border-style: solid !important;
}
.cbb-frequently-bought-add-button:hover {
  color: rgb(var(--button-background));
  background-position: var(--hover-background-position) !important;
  border-color: rgb(var(--button-background)) !important;
  background-size: 0 101%, 101% 101% !important;
}
.cbb-frequently-bought-add-button span {
  color: inherit !important;
}

.cbb-frequently-bought-selector-list {
  display: flex !important;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  gap: 1rem;
  border: 1px solid rgb(var(--text-color)/0.2);
  border-radius: 10px;
  margin-top: 1rem;
  padding: 5px !important;
}
@media screen and (min-width: 1000px) {
  .cbb-frequently-bought-selector-list {
    gap: 0.5rem;
    padding-inline: 10px !important;
  }
}

.cbb-frequently-bought-selector-label-name {
  font-size: 16px !important;
  line-height: 1.1 !important;
}

.cbb-recommendations-variant-select {
  padding: var(--input-padding-block) var(--input-padding-inline) !important;
  border-radius: var(--input-border-radius);
  background: rgb(var(--input-background, transparent));
  color: rgb(var(--input-text-color, var(--text-color))) !important;
  text-align: start !important;
  border-width: 1px !important;
  transition: border-color 0.1s ease-in-out;
  height: auto !important;
  min-height: 0 !important;
  max-height: none !important;
}