#privy-container #privy-inner-container .privy-custom-tab-close {
  animation: privy-bounce-in 450ms 1 ease-in-out;
  background: rgba(0, 0, 0, 0.7);
  border: 0;
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  height: 20px;
  left: 12px;
  padding: 0 0 4px;
  pointer-events: auto;
  position: absolute;
  top: 4px;
  width: 20px;
  z-index: 11001000;
}
#privy-container #privy-inner-container .privy-custom-tab-close::before {
  content: "";
  position: absolute;
  inset: -0.75rem;
}
#privy-container #privy-inner-container .privy-custom-tab-close:hover {
  background: #c44536;
}

[class^=privy-embedded-form-] {
  max-width: 385px !important;
}
[class^=privy-embedded-form-]:focus-visible {
  outline: 0 !important;
}

.privy-embedded-form-4622435 #privy-container #privy-inner-container [tabindex]:focus #privy-container #privy-inner-container [tabindex]:focus {
  outline: 0 !important;
}
.privy-embedded-form-4622435 #privy-container #privy-inner-container [tabindex]:focus .privy #embedded-form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  position: relative;
}
.privy-embedded-form-4622435 #privy-container #privy-inner-container [tabindex]:focus .privy #embedded-form-container > div {
  margin: 0 !important;
}
.privy-embedded-form-4622435 #privy-container #privy-inner-container [tabindex]:focus .privy #embedded-form-container .privy-form-element-wrapper {
  flex-grow: 1;
}
.privy-embedded-form-4622435 #privy-container #privy-inner-container [tabindex]:focus .privy #embedded-form-container .privy-button-element-wrapper {
  bottom: 0;
  height: auto !important;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5 !important;
}
.privy-embedded-form-4622435 #privy-container #privy-inner-container [tabindex]:focus .privy #embedded-form-container .privy-email-input {
  border-color: rgba(55, 58, 54, 0.2);
  color: rgb(55, 58, 54);
  font-family: "Kumbh Sans", Lato, sans-serif;
}
.privy-embedded-form-4622435 #privy-container #privy-inner-container [tabindex]:focus .privy #embedded-form-container .privy-email-input::-moz-placeholder {
  color: rgba(55, 58, 54, 0.4);
}
.privy-embedded-form-4622435 #privy-container #privy-inner-container [tabindex]:focus .privy #embedded-form-container .privy-email-input::placeholder {
  color: rgba(55, 58, 54, 0.4);
}
.privy-embedded-form-4622435 #privy-container #privy-inner-container [tabindex]:focus .privy #embedded-form-container .privy-button-element {
  aspect-ratio: 1;
  background: none !important;
  color: rgba(55, 58, 54, 0.6) !important;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  padding: 0;
}
.privy-embedded-form-4622435 #privy-container #privy-inner-container [tabindex]:focus .privy .privy-element.privy-button-element.privy-button-flat {
  height: auto;
}

#privy-container #privy-inner-container div.privy-tab.privy-floating .privy-floating-notification::before {
  content: "";
  position: absolute;
  inset: -0.75rem;
}