.swiper-wrapper-collection > .swiper-slide{
    width: 141.8px;
}
.swiper-wrapper-collection > .swiper-slide img{
    width: 142.58px;
    height: 141.19px;
    border-radius: 10px;
    object-fit: cover;
}
.main-swiper-collection{
    position: relative;
    width: fit-content;
    margin: 0 auto;
}
.main-swiper-collection{
    width: 100%;
    padding-left: 20px;
}
.main-title-collection{
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    line-height: 16px;
    padding-top: 12px;
}
.mySwiper.swiper {
    max-width: 1330px;
}
.swiper-button-next{
    right: -30px;
}
.swiper-button-next:after, .swiper-button-prev:after{
    display: none;
}
.swiper-button-prev img{
    transform: rotate(180deg);
}
.swiper-button-next,
.swiper-button-next{
    display: none
}
.swiper-button-prev img,
.swiper-button-next img{
    border: 1px solid #37393633;
    border-radius: 50%;
    padding: 7px 9.5px;
}
.swiper-button-prev{
    left: -37px;
}
.main-swiper-collection .swiper-pagination{
    position: relative;
    margin-top: 30px;
}
.main-swiper-collection .swiper-pagination-bullet {
  width: 32px;
  height: 3px;
  border-radius: 10px;
  background: #dcdcdc; 
  opacity: 1;
  margin: 0 4px;
  transition: background 0.3s;
}

.main-swiper-collection .swiper-pagination-bullet-active {
  background: #6b6b6b;
}
.main-block-collections{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 0 8px 37px;
    align-items: center;
}
.button-all-collection{
    display: none;
}
.main-block-collections p{
    line-height: normal;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 300;
    font-size: 34px;
}
.main-block-collections p em{
    font-weight: 400;
    font-family: Playfair Display, serif;
    font-size: 40px;
    letter-spacing: -0.8px;
}
@media (min-width: 768px){
    .swiper-wrapper-collection > .swiper-slide{
    width: 173.8px
}
.swiper-wrapper-collection > .swiper-slide img{
    width: 173.8px;
    height: 172.1px;
    border-radius: 10px;
    object-fit: cover;
}
    .main-block-collections p em{
        font-size: 47px;
        letter-spacing: -1px;
    }
    .main-block-collections p{
        font-size: 40px;
    }
    .main-title-collection{
        line-height: 18px;
        padding-top: 11px;
    }
    .swiper-button-prev{
        left: -35px;
        top: 102px;
    }
    .main-block-collections{
        padding: 17.5px 0 25.5px;
    }
    .swiper-button-next img{
        left: 5px;
        position: relative;
        top: 1px;
    }
    .button-all-collection{
        font-family: "Kumbh Sans", sans-serif;
        font-weight: 600;
        font-size: 14px;
        display: block;
        color: white;
        background: #232222;
        min-width: 129px;
        min-height: 37px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        border-radius: 4px;
        border: 1px solid;
        transition: all 0.3s ease; 
    }
    .button-all-collection:hover{
        background: none !important;
        color: #373A36 !important;
        border-color:#C5C1C0 !important;
    }
    .swiper-button-next,
    .swiper-button-next{
        display: block
    }
    .main-swiper-collection{
        padding: 0;
        width: fit-content;
        padding-bottom: 20px;
    }
    .main-swiper-collection .swiper-pagination{
        display: none !important;
    }
    .main-block-collections{
        padding-left: 0px;
    }
    .main-block-collections,
    .mySwiper.swiper{
        max-width: 660px;
    }
}
@media (min-width: 1024px){
    .main-block-collections,
    .mySwiper.swiper{
        max-width: 900px;
    }
}
@media (min-width: 1440px){
    .main-block-collections,
    .mySwiper.swiper{
        max-width: 1280px;
    }
}