.quick-buy-modal::part(content) {
  border-radius: 10px;
}
@media screen and (max-width: 700px) {
  .quick-buy-modal::part(content) {
    --modal-body-max-width: 100%;
  }
}

.modal::part(header) {
  --modal-header-padding-block: 17px;
  --modal-header-padding-inline: 10px;
  border-block-end: 0;
  z-index: 10;
}
@media screen and (min-width: 1000px) {
  .modal::part(header) {
    --modal-header-padding-inline: 20px;
  }
}

@media screen and (min-width: 700px) {
  .quick-buy-modal::part(header) {
    display: grid;
  }
}

.modal::part(body) {
  --modal-body-padding-block: 0;
  --modal-body-padding-inline: 0;
}

.modal::part(close-button) {
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  opacity: 1;
  transform: scale(1.4);
  transform-origin: 100% 50%;
  width: 20px;
}

.quick-buy-modal {
  --modal-body-max-width: 390px;
  z-index: 100000000;
}
@media screen and (min-width: 700px) {
  .quick-buy-modal {
    --modal-body-max-width: 780px;
  }
}
@media screen and (min-width: 1000px) {
  .quick-buy-modal {
    --modal-body-max-width: 900px;
  }
}

.quick-buy-modal__title {
  --heading-font-weight: 600;
  --text-h5: 20px;
  --heading-text-transform: capitalize;
  text-align: left;
}
@media screen and (min-width: 1000px) {
  .quick-buy-modal__title {
    --text-h5: 18px;
  }
}

.quick-buy-modal__content {
  padding: 0 10px 14px;
}
@media screen and (min-width: 1000px) {
  .quick-buy-modal__content {
    padding: 0 20px 14px;
  }
}
.quick-buy-modal__content .quick-buy-modal__gallery-wrapper {
  --modal-body-padding-inline: 0;
}
.quick-buy-modal__content .product-info__mobile {
  display: none;
}
.quick-buy-modal__content .product-gallery .page-dots {
  display: none;
}
.quick-buy-modal__content .product-gallery__carousel-with-arrows {
  position: relative;
}
.quick-buy-modal__content carousel-prev-button,
.quick-buy-modal__content carousel-next-button {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}
.quick-buy-modal__content carousel-prev-button button,
.quick-buy-modal__content carousel-next-button button {
  aspect-ratio: 1;
  background: rgb(var(--circle-button-background));
  border-radius: 100%;
  color: rgb(var(--circle-button-text-color));
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 42px;
}
.quick-buy-modal__content carousel-prev-button button:hover,
.quick-buy-modal__content carousel-next-button button:hover {
  background: rgb(var(--circle-button-text-color));
  color: rgb(var(--circle-button-background));
}
.quick-buy-modal__content carousel-next-button {
  left: auto;
  right: 0;
}
.quick-buy-modal__content .product-gallery__carousel {
  --product-gallery-carousel-gap: 5px;
  --product-gallery-carousel-grid: auto / auto-flow 100%;
}
@media screen and (max-width: 999px) {
  .quick-buy-modal__content .product-gallery__carousel-with-arrows .product-gallery__media {
    width: 100%;
  }
}
.quick-buy-modal__content .product-title {
  --text-h6: 14px;
  --heading-font-weight: 600;
  grid-area: title;
  line-height: 1.2143;
}
@media screen and (min-width: 1000px) {
  .quick-buy-modal__content .product-title {
    --text-h6: 16px;
    line-height: 1.25;
  }
}
.quick-buy-modal__content .price-list {
  --heading-font-weight: 600;
  --text-h6: 14px;
  justify-content: end;
  grid-area: price;
}
.quick-buy-modal__content .price-list .h6 {
  font-size: var(--text-h6);
}
.quick-buy-modal__content .price-list sale-price {
  color: rgb(var(--text-color)/1);
}
.quick-buy-modal__content .price-list compare-at-price {
  color: rgb(var(--text-color)/0.2);
}
.quick-buy-modal__content .loox-rating {
  grid-area: rating;
  color: rgb(var(--text-color)/0.8);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  line-height: 1;
}
.quick-buy-modal__content .loox-rating .loox-rating-content {
  gap: 3px;
  order: -1;
}
.quick-buy-modal__content .loox-rating .loox-rating-content .loox-rating-label {
  display: none;
}
.quick-buy-modal__content .loox-rating svg.loox-icon {
  height: auto;
  width: 14px;
}
.quick-buy-modal__content .quantity-selector {
  --quantity-selector-height: 30px;
  --quantity-selector-input-width: 17px;
  border-radius: var(--input-border-radius);
  grid-area: quantity;
  max-width: 88px;
  padding-inline: 5px;
}
.quick-buy-modal__content size-chart-button {
  color: rgb(var(--text-color)/0.4);
  text-transform: capitalize;
}

.quick-buy-modal__product-info {
  grid-template-columns: 1fr 140px;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "title rating" "quantity price";
  align-items: center;
  row-gap: 14px;
  margin-block-start: 15px;
}

@media screen and (min-width: 700px) {
  .quick-buy-modal__product-info--mobile {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .quick-buy-modal__product-info--desktop {
    display: none;
  }
}

.quick-buy-modal__info-wrapper {
  --modal-body-padding-inline: 0;
  border-block-start-width: 0;
  margin-block-start: 14px;
}
@media screen and (min-width: 700px) {
  .quick-buy-modal__info-wrapper {
    margin-block-start: 0px;
  }
}
.quick-buy-modal__info-wrapper .loox-rating {
  justify-content: flex-start;
}
.quick-buy-modal__info-wrapper .price-list {
  grid-area: initial;
  justify-content: start;
}
.quick-buy-modal__info-wrapper .product-info__block-list {
  --product-info-gap: 0;
}
.quick-buy-modal__info-wrapper .product-info__block-item[data-block-type=variant-picker] {
  --product-info-gap: 0;
}
.quick-buy-modal__info-wrapper [data-block-id*=frequently_bought_app_block] {
  display: none;
}
.quick-buy-modal__info-wrapper .variant-picker__option[data-option-type=color] .variant-picker__option-info {
  display: none;
}
.quick-buy-modal__info-wrapper .variant-picker__option[data-option-type=size] ~ [data-option-type=size] size-chart-button {
  display: none;
}
.quick-buy-modal__info-wrapper .variant-picker__option-values {
  gap: 10px;
}
.quick-buy-modal__info-wrapper .variant-picker__option-values .color-swatch {
  --swatch-offset: 5px;
  --swatch-size: 50px;
  --swatch-border-size: 1px;
  border: 0;
  border-radius: 100%;
}
@media screen and (min-width: 1000px) {
  .quick-buy-modal__info-wrapper .variant-picker__option-values .color-swatch {
    --swatch-size: 64px;
  }
}
.quick-buy-modal__info-wrapper .variant-picker__option-values .color-swatch img {
  border-radius: 100%;
}
.quick-buy-modal__info-wrapper .variant-picker__option-values .block-swatch {
  --input-border-radius: 100%;
  --swatch-padding: 4px;
  aspect-ratio: 1;
  border: 0;
  box-shadow: 0 0 0 var(--swatch-border-size) rgb(var(--text-color)/0.1);
  color: rgb(var(--text-color)/1);
  min-width: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 40px;
}
.quick-buy-modal__info-wrapper .variant-picker__option-values :checked + .color-swatch,
.quick-buy-modal__info-wrapper .variant-picker__option-values .color-swatch.is-selected {
  box-shadow: 0 0 0 var(--swatch-border-size) rgb(var(--text-color)/0.6);
}
.quick-buy-modal__info-wrapper .variant-picker__option-values :checked + .block-swatch,
.quick-buy-modal__info-wrapper .variant-picker__option-values .block-swatch.is-selected {
  box-shadow: 0 0 0 var(--swatch-border-size) rgb(var(--text-color)/1);
  background: rgb(var(--button-background));
  color: rgb(var(--button-text-color));
}
.quick-buy-modal__info-wrapper .buy-buttons .button {
  min-height: 3.5625rem;
}

.quick-buy-modal__footer-wrapper {
  color: rgb(var(--text-color)/0.4);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  margin-block-start: 13px;
}
@media screen and (min-width: 700px) {
  .quick-buy-modal__footer-wrapper {
    grid-area: 2/1/3/3;
  }
}
.quick-buy-modal__footer-wrapper .link {
  cursor: pointer;
  display: inline-block;
  text-transform: capitalize;
}