@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
.button {
  font-size: var(--text-base);
  font-weight: 600;
  line-height: 1;
  padding-block: 0.25rem;
  min-height: 2.3125rem;
}
.button svg {
  fill: currentColor;
}

.button[disabled] {
  --button-background: 211 211 211;
}

.input, .textarea, .select {
  --border-color: 55 58 54 / 0.2;
  --input-padding-block: 12px;
  --input-padding-inline: 9px;
}

:is(.input, .textarea, .select)::-moz-placeholder {
  color: rgb(var(--input-text-color, var(--text-color))/0.4);
}

:is(.input, .textarea, .select)::placeholder {
  color: rgb(var(--input-text-color, var(--text-color))/0.4);
}

.form-control > label {
  font-weight: bold;
}

.select ~ svg, .select > svg {
  inset-block-start: 50%;
  transform: translateY(-50%);
}

.form-control:has(.select)::before {
  display: none;
}

.form-control:has(.select) .relative::before {
  content: "";
  width: calc(var(--input-padding-inline) * 2 + 35px);
  background-image: linear-gradient(to var(--transform-origin-start), rgb(var(--background)) calc(var(--input-padding-inline) + 20px), rgb(var(--background-without-opacity)/0));
  pointer-events: none;
  height: calc(100% - 2px);
  position: absolute;
  inset-block-start: 1px;
  inset-inline-end: 1px;
}

.section-header {
  --text-h2: 34px;
  --heading-text-transform: capitalize;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-end;
  align-items: flex-end;
  gap: 1rem;
  max-width: none;
}
@media screen and (min-width: 1000px) {
  .section-header {
    --text-h2: 40px;
  }
}
.section-header.justify-self-stretch {
  align-self: stretch;
}
.section-header .prose:only-child {
  flex-grow: 1;
}
@media screen and (min-width: 1000px) {
  .section-header .prose:only-child h2 {
    text-align: center;
  }
}
.section-header h2 {
  text-align: center;
}
@media screen and (min-width: 1000px) {
  .section-header h2 {
    text-align: left;
  }
}
.section-header h2 > em,
.section-header h2 > strong {
  font-size: 40px;
}
@media screen and (min-width: 1000px) {
  .section-header h2 > em,
  .section-header h2 > strong {
    font-size: 46px;
  }
}
.section-header .section-heading__view-all {
  display: none;
}
@media screen and (min-width: 1000px) {
  .section-header .section-heading__view-all {
    display: block;
  }
}
@media screen and (min-width: 1000px) {
  .section-header ~ .section-heading__view-all {
    display: none;
  }
}

.slideshow .page-dots {
  --slideshow-controls-spacing: var(--container-gutter);
  --dot-size: 3px;
  inset-inline-start: var(--slideshow-controls-spacing);
  gap: 8px;
  flex-wrap: nowrap;
}
.slideshow .page-dots > * {
  border-radius: 4px;
  width: auto;
}
.slideshow .page-dots .tap-area {
  background: rgb(var(--background)/0.5);
  max-width: 62px;
  flex-grow: 1;
}
.slideshow .page-dots .tap-area[aria-current=true] {
  background: rgb(var(--background)/1);
}
.slideshow .page-dots .tap-area svg, .slideshow .page-dots .tap-area:after, .slideshow .page-dots .tap-area:before {
  display: none;
}

#looxReviews {
  max-width: none !important;
}

.cart-drawer::part(header) {
  --text-h4: 16px;
  text-transform: uppercase;
}

.cart-drawer::part(content) {
  --drawer-max-width: 486px;
}

.cart-drawer__items {
  --text-h6: 16px;
  --heading-font-weight: 500;
}
.cart-drawer__items .text-subdued {
  color: rgb(var(--text-color)/0.6);
  text-transform: capitalize;
}
.cart-drawer__items .line-item {
  --line-item-media-width: 80px;
}
@media screen and (min-width: 576px) {
  .cart-drawer__items .line-item {
    --line-item-media-width: 130px;
  }
}
.cart-drawer__items .line-item-info__heading-wrapper {
  grid-template-columns: 1fr max-content;
  align-items: end;
}
.cart-drawer__items .price-list sale-price {
  color: rgb(var(--text-color));
}
.cart-drawer__items line-item-quantity .quantity-selector {
  border-radius: var(--input-border-radius);
}
.cart-drawer__items line-item-quantity .link {
  color: rgb(var(--text-color)/0.6);
}

.cart-drawer__complementary-products {
  gap: 20px;
  padding-block-start: 16px;
  padding-block-end: 25px;
}

.complementary-products__header {
  --text-h6: 16px;
  --heading-font-weight: 500;
  --heading-text-transform: capitalize;
}

.cart-drawer__footer button[name=checkout] {
  min-height: 57px;
}

:where(.modal, .drawer, .popover, .header-search) {
  z-index: 100000000;
}

size-chart-button {
  cursor: pointer;
}

.modal::part(content) {
  border-radius: 10px;
}

.modal--size-chart::part(header) {
  --heading-text-transform: capitalize;
}

.modal--size-chart .shopify-section--guide .container {
  --container-gutter: 1rem;
}
.modal--size-chart .shopify-section--guide .section-header {
  display: none;
}
.modal--size-chart .shopify-section--size-calculator .section-spacing {
  --section-vertical-spacing: 0;
}
.modal--size-chart .shopify-section--size-calculator .color-scheme {
  background: none;
  color: inherit;
}
.modal--size-chart .shopify-section--size-calculator .form-control:has(.select)::before {
  background: none;
}
.modal--size-chart .shopify-section--size-calculator .select,
.modal--size-chart .shopify-section--size-calculator .input {
  background: rgb(var(--background));
}
.modal--size-chart .shopify-section--size-calculator .fieldset-row[data-result] {
  grid-template-columns: 1fr;
}

#sort-by-popover.popover {
  --popover-body-padding-inline: 17px;
  width: calc(100% + 2px);
}
@media screen and (min-width: 1000px) {
  #sort-by-popover.popover::part(content) {
    width: 100%;
  }
}

.product-sticky-bar--visible #privy-container #privy-inner-container .privy-tab-container.privy-bottom.privy-floating.privy-bottom,
.product-sticky-bar--visible .shop-ai-chat-container {
  transform: translateY(calc(var(--product-sticky-bar-height) * -1));
}

.popover:has(.popover__value-list)::part(body) {
  padding-inline-end: var(--popover-body-padding-inline);
}

.popover__value-list > :has(:checked) {
  font-weight: 600;
}

.product-sticky-bar {
  background: rgb(var(--background));
  border-block-start-width: 1px;
  display: grid;
  gap: 0.5rem;
}
@media screen and (max-width: 700px) {
  .product-sticky-bar {
    --container-gutter: 10px;
  }
}
@media screen and (min-width: 700px) {
  .product-sticky-bar {
    border-block-end-width: 0;
    bottom: 0;
    inset-block-start: initial;
    grid-template-columns: minmax(0, 1fr) max-content max-content;
  }
}
@media screen and (max-width: 700px) {
  .product-sticky-bar .product-sticky-bar__info {
    padding-inline-end: 1.5rem;
  }
}
.product-sticky-bar .product-sticky-bar__info img {
  display: none;
}
@media screen and (min-width: 1000px) {
  .product-sticky-bar .product-sticky-bar__info img {
    display: inline;
  }
}
.product-sticky-bar .product-sticky-bar__info .price-list {
  --text-h6: calc(0.85rem * var(--text-heading-size-factor));
  margin: 0.5rem 0 0;
}
.product-sticky-bar .variant-picker {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}
@media screen and (min-width: 700px) {
  .product-sticky-bar .variant-picker {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 1000px) {
  .product-sticky-bar .variant-picker {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
.product-sticky-bar .variant-picker__option {
  gap: 0.5rem;
}
.product-sticky-bar .variant-picker__option:only-of-type {
  grid-column: span 2;
}
.product-sticky-bar .variant-picker__option.v-stack {
  align-content: stretch;
}
.product-sticky-bar .variant-picker__option.v-stack .select {
  height: 100%;
}
@media screen and (max-width: 700px) {
  .product-sticky-bar .variant-picker__option.v-stack .select {
    --input-padding-inline: 5px;
  }
}
.product-sticky-bar .variant-picker__option legend,
.product-sticky-bar .variant-picker__option .variant-picker__selected-variant {
  font-weight: var(--heading-font-weight);
}
.product-sticky-bar .variant-picker__option-info {
  display: none;
}
.product-sticky-bar .variant-picker__option-values label,
.product-sticky-bar .variant-picker__option-values img {
  border-radius: 100%;
}
.product-sticky-bar [data-bar-close] {
  border: 0;
  border-radius: 100%;
  min-height: 0;
  padding: 0;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: auto;
}
.product-sticky-bar [data-bar-close]:not([disabled]):hover {
  background: none;
  color: rgb(var(--button-background, var(--text-color)));
}
.product-sticky-bar .select {
  --input-padding-block: 0;
  min-height: 46px;
}
.product-sticky-bar .select > span {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  gap: 0.5rem;
}
.product-sticky-bar .select[aria-expanded=true] > svg {
  transform: translateY(-50%) rotate(180deg);
}
.product-sticky-bar .buy-buttons .button {
  min-height: 46px;
}

body {
  line-height: 1.4286;
  min-width: 320px;
}

.container {
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-width: var(--container-max-width);
  padding-inline-start: var(--container-gutter);
  padding-inline-end: var(--container-gutter);
}

.heading,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.prose :where(h1, h2, h3, h4, h5, h6) {
  line-height: 1;
}
.heading > em,
.heading > strong,
.h1 > em,
.h1 > strong,
.h2 > em,
.h2 > strong,
.h3 > em,
.h3 > strong,
.h4 > em,
.h4 > strong,
.h5 > em,
.h5 > strong,
.h6 > em,
.h6 > strong,
.prose :where(h1, h2, h3, h4, h5, h6) > em,
.prose :where(h1, h2, h3, h4, h5, h6) > strong {
  font-family: "Playfair Display", serif;
}

.isolate {
  position: relative;
  z-index: 0;
}

.floating-controls-container--on-hover > .floating-controls-container__control {
  opacity: 1;
}

.template--connect,
.template--affiliates {
  --section-vertical-spacing-override: 12px;
}

.template--connect main > .shopify-section--newsletter, .template--affiliates main > .shopify-section--newsletter {
  display: none !important;
}