.shopify-section--join-us {
  --text-h1: 27px;
  --heading-font-family: var(--heading-font-family-alternate);
  --heading-font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  margin-block: var(--section-vertical-spacing-override);
}
@media screen and (min-width: 1000px) {
  .shopify-section--join-us {
    --text-h1: 40px;
    font-size: 30px;
  }
}
.shopify-section--join-us .color-scheme {
  border-radius: 20px;
  overflow: hidden;
}
@media screen and (min-width: 700px) {
  .shopify-section--join-us .image-with-text {
    grid-template-columns: 39.5% 1fr;
  }
}
.shopify-section--join-us .image-with-text > .prose {
  --container-gutter: 56px;
  box-sizing: border-box;
  font-weight: 300;
  margin-block-start: 0;
  margin-block-end: 31px;
  position: relative;
  width: 100%;
  z-index: 5;
}
@media screen and (min-width: 700px) {
  .shopify-section--join-us .image-with-text > .prose {
    margin-block: 46px;
  }
}
@media screen and (min-width: 1000px) {
  .shopify-section--join-us .image-with-text > .prose {
    margin-block: 92px;
  }
}
.shopify-section--join-us .image-with-text__media-wrapper {
  aspect-ratio: 1.15;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 700px) {
  .shopify-section--join-us .image-with-text__media-wrapper {
    aspect-ratio: auto;
    min-height: 434px;
    width: 100%;
  }
}
.shopify-section--join-us .image-with-text__media-wrapper img {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
@media screen and (min-width: 700px) {
  .shopify-section--join-us .image-with-text__media-wrapper img {
    height: 100%;
    max-width: none;
    width: auto;
  }
}
.shopify-section--join-us .prose :where(:not(meta, span) + *) {
  margin-block-start: 11px;
}
@media screen and (min-width: 1000px) {
  .shopify-section--join-us .prose :where(:not(meta, span) + *) {
    margin-block-start: 20px;
  }
}
.shopify-section--join-us .prose > .button {
  max-width: 318px;
  width: 100%;
}
.shopify-section--join-us .nickname {
  font: 27px/1 var(--heading-font-family-alternate);
  margin-block-start: 15px;
}
@media screen and (min-width: 1000px) {
  .shopify-section--join-us .nickname {
    font-size: 40px;
    margin-block-start: 24px;
  }
}
.shopify-section--join-us .social-media {
  margin-block-start: 24px;
}
@media screen and (min-width: 1000px) {
  .shopify-section--join-us .social-media {
    margin-block-start: 31px;
  }
}
.shopify-section--join-us .social-media--list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  gap: 27px;
}
@media screen and (min-width: 1000px) {
  .shopify-section--join-us .social-media--list {
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 31px;
  }
}
.shopify-section--join-us .social-media--list li {
  margin-block-start: 0;
}
.shopify-section--join-us .social-media .button {
  --button-text-transform: none;
  --button-border-radius: 8px;
  --button-letter-spacing: -0.7px;
  border-width: 2px;
  -moz-column-gap: 12px;
       column-gap: 12px;
  font-size: 24px;
  font-weight: 300;
  justify-content: flex-start;
  min-height: 61px;
  padding-block: 10px;
  padding-inline-start: 15px;
  padding-inline-end: 10px;
  width: 100%;
}
@media screen and (min-width: 1000px) {
  .shopify-section--join-us .social-media .button {
    --button-letter-spacing: 0;
    font-size: 21px;
    min-height: 57px;
    min-width: 266px;
  }
}
.shopify-section--join-us .social-media .button:has(svg) {
  text-align: left;
}
.shopify-section--join-us .social-media .button svg {
  height: 33px;
  width: auto;
}
@media screen and (min-width: 1000px) {
  .shopify-section--join-us .social-media .button svg {
    height: 30px;
  }
}
.shopify-section--join-us .social-media .button--outline {
  --button-outline-color: var(--button-background);
}