.shopify-section--promotion .color-scheme {
  border-radius: 20px;
  overflow: hidden;
}
@media screen and (min-width: 700px) {
  .shopify-section--promotion .image-with-text {
    align-items: stretch;
  }
}
@media screen and (min-width: 1000px) {
  .shopify-section--promotion .image-with-text {
    --image-with-text-gap: 1.5rem;
  }
}
@media screen and (min-width: 700px) {
  .shopify-section--promotion .image-with-text > .prose {
    margin-block-end: 1.5rem;
  }
}
@media screen and (min-width: 1000px) {
  .shopify-section--promotion .image-with-text > .prose {
    margin-block-start: 109px;
    margin-block-end: 87px;
  }
}
.shopify-section--promotion .prose {
  margin-block-end: 5px;
  position: relative;
  z-index: 5;
}
.shopify-section--promotion .prose :where(:not(meta, span) + *) {
  margin-block-start: 0.6875rem;
}
@media screen and (min-width: 1000px) {
  .shopify-section--promotion .prose :where(:not(meta, span) + *) {
    margin-block-start: 10px;
  }
}
.shopify-section--promotion .prose .h6 {
  --heading-font-family: "Kumbh Sans";
  --heading-text-transform: none;
  letter-spacing: 0.1px;
}
.shopify-section--promotion .prose .h1 {
  margin-block-start: 1rem;
}
@media screen and (min-width: 1000px) {
  .shopify-section--promotion .prose .h1 {
    margin-block-start: -21px;
  }
}
.shopify-section--promotion .prose .h1 > strong {
  display: block;
  font-family: "Kumbh Sans";
  font-size: 70px;
  font-weight: 200;
  letter-spacing: -7px;
  margin-block-start: -7px !important;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .shopify-section--promotion .prose .h1 > strong {
    font-size: 146px;
    letter-spacing: -14px;
    margin-block-start: 12px !important;
  }
}
.shopify-section--promotion .prose :is(.input, .textarea, .select)::-moz-placeholder {
  color: rgb(var(--input-text-color, var(--text-color))/1);
}
.shopify-section--promotion .prose :is(.input, .textarea, .select)::placeholder {
  color: rgb(var(--input-text-color, var(--text-color))/1);
}
.shopify-section--promotion .prose .input,
.shopify-section--promotion .prose .textarea,
.shopify-section--promotion .prose .select {
  --input-border-radius: 8px;
  --border-color: var(--text-color);
  --input-padding-block: 9px;
  background: #fff;
  border-width: 2px;
  font-size: 14px;
  padding-inline-start: 40px;
}
@media screen and (min-width: 1000px) {
  .shopify-section--promotion .prose .input,
  .shopify-section--promotion .prose .textarea,
  .shopify-section--promotion .prose .select {
    --input-border-radius: 12px;
    --input-padding-block: 14px;
    font-size: 21px;
    padding-inline-start: 59px;
  }
}
.shopify-section--promotion .prose .button {
  font-size: 26px;
  margin-block-start: 23px !important;
  max-width: 318px;
  width: 100%;
}
@media screen and (min-width: 1000px) {
  .shopify-section--promotion .image-with-text__richtext {
    padding-inline: 50px;
  }
}
.shopify-section--promotion .image-with-text__richtext--large {
  font-size: 19px;
  padding-block-start: 4px;
}
@media screen and (min-width: 1000px) {
  .shopify-section--promotion .image-with-text__richtext--large {
    font-size: 26px;
    margin-block-start: -1px !important;
    padding-block-start: 0;
  }
}
@media screen and (min-width: 1400px) {
  .shopify-section--promotion .image-with-text__richtext--large {
    font-size: 33px;
  }
}
.shopify-section--promotion .image-with-text__richtext--large strong {
  font-weight: 500;
}
.shopify-section--promotion .form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  gap: 10px;
  margin-block-start: 22px;
  width: 100%;
}
@media screen and (min-width: 1000px) {
  .shopify-section--promotion .form {
    margin-block-start: 13px;
  }
}
.shopify-section--promotion .form .form-control__wrapper {
  position: relative;
}
.shopify-section--promotion .form .form-control {
  margin-block-start: 0 !important;
}
.shopify-section--promotion .form .icon {
  left: 14px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  z-index: 5;
}
@media screen and (min-width: 1000px) {
  .shopify-section--promotion .form .icon {
    left: 19px;
    width: 32px;
  }
}
.shopify-section--promotion .form .button {
  --text-base: 25px;
  --button-border-radius: 8px;
  margin-block-start: 0;
}
@media screen and (min-width: 1000px) {
  .shopify-section--promotion .form .button {
    --text-base: 21px;
    --button-border-radius: 10px;
    font-weight: 500;
    margin-block-start: 11px !important;
    min-height: 57px;
  }
}
.shopify-section--promotion .note {
  font-size: 12px;
  font-family: "Playfair Display", var(--text-font-family);
  margin-block-start: 5px;
  text-transform: capitalize;
}
@media screen and (min-width: 1000px) {
  .shopify-section--promotion .note {
    font-size: 16px;
    margin-block-start: 15px;
    text-align: left;
  }
}
.shopify-section--promotion .image-with-text__media-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: stretch;
  align-items: stretch;
  padding-inline-start: var(--container-gutter);
  padding-inline-end: var(--container-gutter);
}
@media screen and (min-width: 700px) {
  .shopify-section--promotion .image-with-text__media-wrapper {
    --container-gutter: 0;
    margin-inline-start: -30px;
  }
}

.shopify-section--promotion .section-style--style_1 {
  font-size: 20px;
  line-height: 1.1;
}
@media screen and (min-width: 1000px) {
  .shopify-section--promotion .section-style--style_1 {
    font-size: 26px;
    line-height: 1.1667;
  }
}
.shopify-section--promotion .section-style--style_1 .heading,
.shopify-section--promotion .section-style--style_1 .h1,
.shopify-section--promotion .section-style--style_1 .h2,
.shopify-section--promotion .section-style--style_1 .h3,
.shopify-section--promotion .section-style--style_1 .h4,
.shopify-section--promotion .section-style--style_1 .h5,
.shopify-section--promotion .section-style--style_1 .h6,
.shopify-section--promotion .section-style--style_1 .prose :where(h1, h2, h3, h4, h5, h6) {
  --heading-font-family: var(--heading-font-family-alternate);
  --heading-font-weight: 300;
  --heading-text-transform: capitalize;
  --text-h1: 62px;
  --text-h6: 20px;
  letter-spacing: 1px;
}
@media screen and (min-width: 1000px) {
  .shopify-section--promotion .section-style--style_1 .heading,
  .shopify-section--promotion .section-style--style_1 .h1,
  .shopify-section--promotion .section-style--style_1 .h2,
  .shopify-section--promotion .section-style--style_1 .h3,
  .shopify-section--promotion .section-style--style_1 .h4,
  .shopify-section--promotion .section-style--style_1 .h5,
  .shopify-section--promotion .section-style--style_1 .h6,
  .shopify-section--promotion .section-style--style_1 .prose :where(h1, h2, h3, h4, h5, h6) {
    --text-h1: 95px;
    --text-h6: 29px;
    --heading-text-transform: none;
  }
}
@media screen and (min-width: 1200px) {
  .shopify-section--promotion .section-style--style_1 .heading,
  .shopify-section--promotion .section-style--style_1 .h1,
  .shopify-section--promotion .section-style--style_1 .h2,
  .shopify-section--promotion .section-style--style_1 .h3,
  .shopify-section--promotion .section-style--style_1 .h4,
  .shopify-section--promotion .section-style--style_1 .h5,
  .shopify-section--promotion .section-style--style_1 .h6,
  .shopify-section--promotion .section-style--style_1 .prose :where(h1, h2, h3, h4, h5, h6) {
    --text-h1: 132px;
    --text-h6: 37.5px;
    --heading-text-transform: none;
  }
}
.shopify-section--promotion .section-style--style_2 {
  font-size: 18px;
  line-height: 1.1111;
}
@media screen and (min-width: 1000px) {
  .shopify-section--promotion .section-style--style_2 {
    font-size: 23px;
  }
}
@media screen and (min-width: 1400px) {
  .shopify-section--promotion .section-style--style_2 {
    font-size: 28px;
    font-weight: 300;
    line-height: 1.2857;
  }
}
@media screen and (min-width: 700px) {
  .shopify-section--promotion .section-style--style_2.color-scheme {
    --background: 245 229 225 / 1;
    --text-color: 178 145 140;
    --button-background: 178 145 140;
    --button-text-color: 245 229 225;
  }
}
@media screen and (min-width: 1000px) {
  .shopify-section--promotion .section-style--style_2 .image-with-text > .prose {
    margin-block-start: 62px;
    margin-block-end: 44px;
  }
}
.shopify-section--promotion .section-style--style_2 .heading,
.shopify-section--promotion .section-style--style_2 .h1,
.shopify-section--promotion .section-style--style_2 .h2,
.shopify-section--promotion .section-style--style_2 .h3,
.shopify-section--promotion .section-style--style_2 .h4,
.shopify-section--promotion .section-style--style_2 .h5,
.shopify-section--promotion .section-style--style_2 .h6,
.shopify-section--promotion .section-style--style_2 .prose :where(h1, h2, h3, h4, h5, h6) {
  --heading-font-family: var(--heading-font-family);
  --heading-font-weight: 200;
  --heading-text-transform: capitalize;
  --text-h1: 54px;
  --text-h6: 27px;
  letter-spacing: -1.5px;
}
@media screen and (min-width: 1000px) {
  .shopify-section--promotion .section-style--style_2 .heading,
  .shopify-section--promotion .section-style--style_2 .h1,
  .shopify-section--promotion .section-style--style_2 .h2,
  .shopify-section--promotion .section-style--style_2 .h3,
  .shopify-section--promotion .section-style--style_2 .h4,
  .shopify-section--promotion .section-style--style_2 .h5,
  .shopify-section--promotion .section-style--style_2 .h6,
  .shopify-section--promotion .section-style--style_2 .prose :where(h1, h2, h3, h4, h5, h6) {
    --text-h1: 95px;
    --text-h6: 29px;
  }
}
@media screen and (min-width: 1400px) {
  .shopify-section--promotion .section-style--style_2 .heading,
  .shopify-section--promotion .section-style--style_2 .h1,
  .shopify-section--promotion .section-style--style_2 .h2,
  .shopify-section--promotion .section-style--style_2 .h3,
  .shopify-section--promotion .section-style--style_2 .h4,
  .shopify-section--promotion .section-style--style_2 .h5,
  .shopify-section--promotion .section-style--style_2 .h6,
  .shopify-section--promotion .section-style--style_2 .prose :where(h1, h2, h3, h4, h5, h6) {
    --text-h1: 150px;
    --text-h6: 66px;
    letter-spacing: -4.5px;
  }
}
@media screen and (min-width: 1000px) {
  .shopify-section--promotion .section-style--style_2 .h1 {
    --heading-font-weight: 100;
  }
}
.shopify-section--promotion .section-style--style_2 .h1 > strong {
  display: inline;
  font: inherit;
  font-weight: normal;
  letter-spacing: -1px;
}
@media screen and (min-width: 1000px) {
  .shopify-section--promotion .section-style--style_2 .h1 > strong {
    font-weight: 300;
    letter-spacing: -5px;
  }
}
.shopify-section--promotion .section-style--style_2 .h6 {
  --heading-font-family: var(--heading-font-family-alternate);
  letter-spacing: 0;
  margin-block-start: -2px !important;
}
@media screen and (min-width: 1000px) {
  .shopify-section--promotion .section-style--style_2 .h6 {
    margin-block-start: -7px !important;
  }
}
@media screen and (min-width: 1200px) {
  .shopify-section--promotion .section-style--style_2 .h6 {
    margin-block-start: -12px !important;
  }
}
@media screen and (min-width: 700px) {
  .shopify-section--promotion .section-style--style_2 .prose {
    --image-with-text-content-max-width: 620px;
    text-align: left;
  }
}
.shopify-section--promotion .section-style--style_2 .prose :where(:not(meta, span) + *) {
  margin-block-start: 14px;
}
@media screen and (min-width: 1000px) {
  .shopify-section--promotion .section-style--style_2 .prose :where(:not(meta, span) + *) {
    margin-block-start: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .shopify-section--promotion .section-style--style_2 .prose :where(:not(meta, span) + *) {
    margin-block-start: 36px;
  }
}
@media screen and (min-width: 1000px) {
  .shopify-section--promotion .section-style--style_2 .prose .button {
    --button-border-radius: 8px;
    font-size: 33px;
    min-height: 59px;
  }
}
@media screen and (min-width: 1400px) {
  .shopify-section--promotion .section-style--style_2 .prose .button {
    --button-border-radius: 12px;
    font-size: 40px;
    font-weight: 500;
    margin-block-start: 44px !important;
    max-width: none;
    min-height: 80px;
    width: auto;
  }
}
@media screen and (min-width: 1000px) {
  .shopify-section--promotion .section-style--style_2 .image-with-text__richtext {
    padding-inline: 0;
  }
}
.shopify-section--promotion .section-style--style_2 .image-with-text__media-wrapper {
  padding-inline: 0;
  position: relative;
}
@media screen and (min-width: 700px) {
  .shopify-section--promotion .section-style--style_2 .image-with-text__media-wrapper {
    margin-inline-start: 0;
  }
}
@media screen and (min-width: 700px) {
  .shopify-section--promotion .section-style--style_2 .image-with-text__media-wrapper picture {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media screen and (min-width: 700px) {
  .shopify-section--promotion .section-style--style_2 .image-with-text__media-wrapper picture img {
    height: 100%;
    max-width: none;
    width: auto;
  }
}