{% include 'breadcrumbs' %}
<div class="article pb-1">
    <div class="container">
        <div class="row mb-60">
            {%- if settings.article_show_sidebar != 'hide' -%}
                {%- if settings.article_sidebar_position == 'dropdown' -%}
                    <div class="article__sidebar d-none">
                        {% section 'blog-sidebar' %}
                    </div>
                {%- else -%}
                    <div class="article__sidebar article__sidebar--width-md article__sidebar--offset-bottom d-none d-lg-block col{% if settings.article_show_sidebar != 'hide' and settings.article_sidebar_position != 'dropdown' %} col-lg-4{% endif %}{% if settings.article_sidebar_position == 'right' %} order-2{% endif %}" data-sticky-sidebar-parent>
                        {%- if settings.article_enable_sticky -%}
                            <div class="js-sticky-sidebar">
                        {%- endif -%}
                            <div data-js-position-desktop="sidebar" data-sticky-sidebar-inner>
                                {% section 'blog-sidebar' %}
                            </div>
                        {%- if settings.article_enable_sticky -%}
                            </div>
                        {%- endif -%}
                    </div>
                    {% if settings.article_enable_sticky %}
                        <script>
                            Loader.require({type: "script", name: "plugin_sticky_sidebar"});
                            Loader.require({type: "script", name: "sticky_sidebar"});
                        </script>
                    {% endif %}
                {%- endif -%}
            {%- endif -%}
            <div class="article__body{% if settings.article_show_sidebar == 'hide' or settings.article_sidebar_position == 'dropdown' %} article__body--max-width{% else %} col-lg-8{% endif %} col">
                {% section 'article-body' %}
            </div>
        </div>
    </div>
</div>
