{% include 'breadcrumbs' %}
<div class="blogs pb-1">
  <div class="container">
    <div class="row mb-60">
      {%- if settings.blog_show_sidebar != 'hide' -%}
        {%- if settings.blog_sidebar_position == 'dropdown' -%}
          <div class="blogs__sidebar d-none">
            {% section 'blog-sidebar' %}
          </div>
        {%- else -%}
          <div class="blogs__sidebar blogs__sidebar--width-md blogs__sidebar--offset-bottom d-none col-auto d-lg-block{% if settings.blog_sidebar_position == 'right' %} order-2{% endif %}" data-sticky-sidebar-parent>
            {%- if settings.blog_enable_sticky -%}
              <div class="js-sticky-sidebar">
            {%- endif -%}
              <div data-js-position-desktop="sidebar" data-sticky-sidebar-inner>
                {% section 'blog-sidebar' %}
              </div>
            {%- if settings.blog_enable_sticky -%}
              </div>
            {%- endif -%}
          </div>
          {% if settings.blog_enable_sticky %}
            <script>
              Loader.require({type: "script", name: "plugin_sticky_sidebar"});
              Loader.require({type: "script", name: "sticky_sidebar"});
            </script>
          {% endif %}
        {%- endif -%}
      {%- endif -%}
      <div class="blogs__body col">
        {% section 'blog-body' %}
      </div>
    </div>
  </div>
</div>
