{% layout none %}
{%- for tag in current_tags -%}
    {%- if tag contains 'max_count=' -%}
        {%- assign max_count = tag | remove: 'max_count=' -%}
    {%- elsif tag contains 'products_pre_row=' -%}
        {%- assign products_pre_row = tag | remove: 'products_pre_row=' -%}
    {%- elsif tag contains 'async_ajax_loading=' -%}
        {%- assign async_ajax_loading = tag | remove: 'async_ajax_loading=' -%}
    {%- endif -%}
{%- endfor -%}

{%- assign limit = products_pre_row | at_most: max_count | plus: 1 -%}
{%- for product in collections[collection.handle].products limit: max_count -%}
    {%- if async_ajax_loading == 'false' or forloop.index0 < limit -%}
        <div class="carousel__item col-auto" data-async="{{ async_ajax_loading }}">
            {% include 'product-collection' with url_without_collection: true %}
        </div>
        {%- elsif async_ajax_loading == 'true' and forloop.index >= limit and forloop.last == true -%}
        <div class="carousel__item col-auto" data-async="{{ async_ajax_loading }}">
            {% include 'product-collection' with url_without_collection: true %}
        </div>
    {%- else -%}
        <div class="carousel__item col-auto" data-handle="{{ product.handle }}"></div>
    {%- endif -%}
{%- endfor -%}