{% include 'breadcrumbs' %}
<div class="container {% if settings.offset_pages_margin_top_d > 0 %} mt-lg-{{ settings.offset_pages_margin_top_d }}{% endif %} mb-60{% if settings.offset_pages_margin_bottom_d > 0 %} mb-lg-{{ settings.offset_pages_margin_bottom_d }}{% endif %}">
  <h1 class="h3 mt-30 text-center">{{ page.title }}</h1>
  <div class="rte">
    {% include 'content-load-template' content: page.content %}
  </div>
</div>

